* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}
.padre{
    display: flex;
    flex-flow: column nowrap;
}

.header{
    background: black;
    display: flex;
    flex-flow: column nowrap;
    
}

    .sub-cont1{
        background: grey;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        height: 100px;
    }
        .hijo1{
            background: red;
            flex:1 1 auto;
            height: 30px;
        }
        .hijo1_2{
            background: red;
            flex:5 1 auto;
            height: 30px;
        }
        .hijo1_3{
            background: red;
            flex:1 1 auto;
            height: 30px;
        }
    
    .sub-cont2{
        background: orange;
    }
        .hijo2{
            background: yellow;
        }

.section{
    background: black;
    display: flex;
}
    .sub-cont3{
        background: grey;
        flex:2 1 auto;
        display: flex;
        flex-flow: row wrap;
    }
        .hijo3{
            background: blue;
            flex:1 1 40%;
        }
        .navegacion{
            background: blanchedalmond;
            flex:1 1 100%;
        }
    .aside{
        background: red;
        flex:1 1 auto;
    }
        .hijo4{
            background: gold;
        }
.footer{
    background: black;
}
    .sub-cont4{
        background: orange;
    }

@media all and (max-width:800px){

    .section{
        background: yellow;
        flex-direction: column;
    }
}
@media all and (max-width:500px){
    .sub-cont1{
    flex-direction: column;
    align-items: stretch;
    flex: 100%;
    }
    .sub-cont3{
    flex-direction: column;
    align-items: stretch;
    flex: 100%;
    
    }
}
